<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>OCP group | Service d'incendie</title>
   <link
           rel="icon"
           th:href="@{/img/ocp logo2.png}"
           type="image/x-icon"
   />
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
   <!-- style css -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/indexStyle.css}" />
   <!-- Responsive-->
   <link rel="stylesheet" th:href="@{/css/responsive.css}" href="css/responsive.css"/>
   <!-- fevicon -->
   <link rel="icon" th:href="@{/images/fevicon.png}" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}" href="css/jquery.mCustomScrollbar.min.css"/>
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
   <!-- owl stylesheets -->
   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="css/owl.carousel.min.css"/>
   <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" href="css/owl.theme.default.min.css"/>
   <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"/>

</head>
<body>
<!-- header section start -->
<div class="header_section">
   <div class="header_main">
      <div class="mobile_menu">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo_mobile"><a href="index"><img th:src="@{/img/logo-white.svg}" src="img/ocp logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="index">Accueil</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="services.html">Connexion</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="blog.html">Blog</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link "  href="/sign">Connexion</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <div class="container-fluid">
         <div class="logo"><a href="index"><img th:src="@{/img/logo-white.svg}" src="/img/ocp logo.png"></a>
         </div>
         <div class="menu_main">
            <ul>
               <li class="active"><a href="index">Accueil</a></li>
               <li><a href="#aboutSection" onclick="scrollToSection('#aboutSection')">À propos</a></li>
               <li><a href="#connexionSection" onclick="scrollToSection('#connexionSection')">Connexion</a></li>
           
            </ul>
         </div>
      </div>
   </div>
   <!-- banner section start -->
   <div class="banner_section layout_padding">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <h1 class="banner_taital">Bienvenue</h1>
                  <p class="banner_text">Bienvenue sur notre application web, conçue pour optimiser le contrôle des équipements grâce à trois espaces dédiés : contrôleurs pour les vérifications, responsables de contrôleurs pour la supervision, et responsables généraux pour la gestion globale des opérations</p>
                  <div class="read_bt" ><a href="#" onclick="scrollToSection('#connexionSection')">Connexion</a></div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <h1 class="banner_taital">Discover</h1>
                  <p class="banner_text">Find new books, resources, and information.</p>
                  <div class="read_bt"><a href="#">Connexion</a></div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <h1 class="banner_taital">Explore</h1>
                  <p class="banner_text">Dive into a world of knowledge and imagination.</p>
                  <div class="read_bt"><a href="#">Get A Quote</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- banner section end -->
</div>
<!-- header section end -->
<!-- services section start -->
<div id="connexionSection" class="services_section layout_padding">
   <div class="container">
      <h1 class="services_taital">Connexion </h1>
      <p class="services_text">Voici les types d'utilisateurs que vous y trouverez</p>
      <div class="services_section_2">
         <div class="row">
            <div class="col-md-4">
               <div><img th:src="@{/libraryImages/espaceControleur22.jpg}" class="services_img">
               </div>
               <div class="btn_main"><a th:href="@{/login}">Contrôleur</a></div>
            </div>
            <div class="col-md-4">
               <div><img th:src="@{/libraryImages/espaceResponsableControleur.jpg}" class="services_img">
               </div>
               <div class="btn_main "><a th:href="@{/login}">R. Contrôleurs</a></div>
            </div>
            <div class="col-md-4">
               <div><img th:src="@{/libraryImages/espaceResponsableGenerale.jpg}" class="services_img"></div>
               <div class="btn_main"><a th:href="@{/login}">R. général</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- services section end -->
<!-- about section start -->
<div id="aboutSection" class="about_section layout_padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
            <div class="about_taital_main">
               <h1 class="about_taital">À propos de nous</h1>
               <p class="about_text">Notre application web optimise la gestion des équipements via trois espaces utilisateurs : les contrôleurs effectuent les vérifications et les enregistrent, les responsables de contrôleurs supervisent et valident ces inspections, et les responsables généraux gèrent l'ensemble des opérations. Cette structure garantit une collaboration fluide, des contrôles précis, et une gestion efficace des ressources.

            </div>
         </div>
         <div class="col-md-6 padding_right_0">
            <div><img th:src="@{/libraryImages/pompier.jpg}" class="about_img"></div>
         </div>
      </div>
   </div>
</div>
<!-- about section end -->


   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">

         <div class="location_main">
            <div class="call_text"><img th:src="@{/libraryImages/call-icon.png}"></div>
            <div class="call_text"><a href="#"> +212 00000000</a></div>
            <div class="call_text"><img th:src="@{/libraryImages/mail-icon.png}"></div>
            <div class="call_text"><a href="#">demo@gmail.com</a></div>
         </div>
         <div class="social_icon">
            <ul>
               <li><a href="#"><img th:src="@{/libraryImages/fb-icon.png}"></a></li>
               <li><a href="#"><img th:src="@{/libraryImages/twitter-icon.png}"></a></li>
               <li><a href="#"><img th:src="@{/libraryImages/linkedin-icon.png}"></a></li>
               <li><a href="#"><img th:src="@{/libraryImages/instagram-icon.png}"></a></li>
            </ul>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2024 Tous droits réservés. Conception par <a href="https://ma.linkedin.com/in/ahmed-bourazza-06618b244?trk=public_profile_browsemap">Ahmed Bourazza</a> et <a href="">Ilyas Makhloul</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script th:src="@{/js/core/jquery.min.js}"></script>
   <script th:src="@{/js/core/popper.min.js}"></script>
   <script th:src="@{/js/core/bootstrap.bundle.min.js}"></script>
   <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
   <script th:src="@{/js/plugin.js}"></script>
   <!-- sidebar -->
   <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
   <script th:src="@{/js/custom.js}"></script>
   <!-- javascript -->
   <script th:src="@{/js/owl.carousel.js}"></script>
   <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>

   <script>
      function scrollToSection(sectionId) {
         var section = document.querySelector(sectionId);
         window.scrollTo({
            top: section.offsetTop,
            behavior: 'smooth' // Défilement fluide
         });
      }
   </script>



</body>
</html>
