<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Excel</title>
</head>
<body>
<button id="downloadExcel">Télécharger Excel</button>

<script>
  document.getElementById('downloadExcel').addEventListener('click', function() {
    fetch('/excel', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/vnd.ms-excel'
      }
    })
            .then(response => {
              if (response.ok) {
                return response.blob();
              }
              throw new Error('Network response was not ok.');
            })
            .then(blob => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              a.download = 'controleurs.xls';
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);

              // Rediriger après le téléchargement
              setTimeout(() => {
                window.location.href = '/controleur/dashboard'; // Remplacez cette URL par celle de votre tableau de bord
              }, 1000); // Ajoute un délai pour s'assurer que le téléchargement commence
            })
            .catch(error => console.error('There was a problem with the fetch operation:', error));
  });
</script>
</body>
</html>
