<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Excel</title>
</head>
<body>
<input type="datetime-local" id="dateControle" placeholder="Date de Controle">
<input type="text" id="matricule" placeholder="Matricule">
<button id="downloadExcel">Télécharger Excel</button>

<script>
  document.getElementById('downloadExcel').addEventListener('click', function() {
    const dateControle = document.getElementById('dateControle').value;
    const matricule = document.getElementById('matricule').value;

    fetch(`/excel?dateControle=${encodeURIComponent(dateControle)}&matricule=${encodeURIComponent(matricule)}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/vnd.ms-excel'
      }
    })
            .then(response => {
              if (response.ok) {
                return response.blob();
              } else if (response.status === 404) {
                return response.json().then(data => {
                  throw new Error(data.message);
                });
              } else {
                throw new Error('Network response was not ok.');
              }
            })
            .then(blob => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              a.download = 'formulaire.xls';
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);

              // Rediriger après le téléchargement
              setTimeout(() => {
                window.location.href = '/controleur/dashboard'; // Remplacez cette URL par celle de votre tableau de bord
              }, 1000); // Ajoute un délai pour s'assurer que le téléchargement commence
            })
            .catch(error => {
              alert(error.message);
            });
  });
</script>
</body>
</html>
